* {
    background-color: lightsteelblue;    
}

.page-title {
    font-weight: bold;
}

.page-subtitle, .page-title {
    text-align: center;
    text-shadow: 1px 1px 2px steelblue;
    text-align: center;
}

h2 {
    text-shadow: 1px 1px 2px steelblue;
}

.cuisinelist, .dishlist {
    font-size: 20px;
}

img {
    border-radius: 5px;
    border-color: black;
    border: 3px solid rgba(255, 255, 255, .5);
}

